* {
  box-sizing: border-box;
}

:root {
  --primary: #143c3c;
  --secondary: #6a8383;
  --bg-color: #e2eddf;
  --text-color: #575d5e;
  --text-color-light: #7d8188;
  --text-color-bold: #152427;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1140px;
  min-width: calc(100% - 230px);
  margin: 0 auto;
}

.btn {
  width: 107px;
  height: 26px;
  text-align: center;
  border-radius: 20px;
  border: 1.5px solid var(--bg-color);
  color: #000;
  background: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.btn-big {
  width: 173px;
  height: 57px;
  border-radius: 40px;
  border: 1.5px solid var(--primary);
  color: #fff;
  background: var(--primary);
  font-size: 1.8rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-big:hover {
  opacity: 0.8;
  cursor: pointer;
}

.section-subtitle {
  position: relative;
  color: var(--text-color-bold);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.63;
  margin-left: 56px;
}

.section-subtitle::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -56px;
  transform: translateY(-50%);
  width: 25px;
  height: 1px;
  background: var(--text-color-bold);
}

.section-heading {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.2;
  color: var(--text-color-bold);
}

.section-desc {
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: var(--text-color);
}

/* decor */

.decoration {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.sun-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.line-img {
  position: absolute;
  top: 0;
  left: 45px;
  right: 0;
  z-index: 1;
}

.decoration--bottom {
  position: absolute;
  top: calc(100% + 70px);
  right: 0;
  /* bottom: 0; */
  transform: scale(-1, -1);
}

/* ================================= */
/* header */
.header {
  padding: 28px 0;
  /* height: 100vh; */
}
.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
}

.header-top::after {
  position: absolute;
  left: 0;
  top: calc(100% + 13px);
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.logo__img {
  height: 26px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  /* padding-top: 6px; */
}

.navbar__link {
  position: relative;
  color: var(--text-color);
  padding: 4px 19px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
}

.navbar__link:hover,
.navbar__link--active {
  color: var(--text-color-bold);
  /* text-shadow: 1px 0 0 currentColor; */
}

.navbar__link--active::after {
  position: absolute;
  z-index: 1;
  left: 18px;
  top: calc(100% + 24px);
  right: 0;
  display: block;
  content: "";
  width: 16px;
  height: 2px;
  background: var(--text-color-bold);
}

.header-action {
  margin-left: 88px;
  display: flex;
  align-items: start;
}

/* hero */
.hero {
  padding: 60px 0 88px;
  display: flex;
}

.hero__content {
  margin: auto 0;
  padding-right: 50px;
}

.hero__heading {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.2;
  color: var(--text-color-bold);
  padding-right: 25px;
}

.hero__desc {
  margin: 20px 0 42px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: var(--text-color);
}

.hero__action--more {
  margin-right: 43px;
}

.hero__media {
  position: relative;
  display: flex;
  justify-content: end;
  min-width: 56%;
  margin-left: 76px;
  /* padding-bottom: 70px; */
}

.hero__media::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero__wrapper {
  z-index: 1;
  --width: 202px;
  width: var(--width);
  height: 466px;
  padding-right: 20px;
  /* flex-shrink: 0; */
}

.hero__wrapper:nth-child(2) {
  margin-top: 77px;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(var(--width) / 2);
}

.hero__action {
  display: flex;
}

.hero__action--video {
  display: flex;
  align-items: center;
  color: var(--text-color-bold);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero__icon--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  background: #83a17d;
  margin-right: 15px;
}

.hero__icon--wrapper::before {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
  border: 5px solid var(--primary);
  border-radius: 50%;
  clip-path: inset(0 50% 0 0); /* Cắt 1/2 bên trái */
}

.hero__action--video:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Integrations */
.integration {
  margin-top: 42px;
}

.integration__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background: var(--bg-color);
  padding: 80px 121px;
  border-radius: 500px;
}

.integration__brand {
  display: flex;
  align-items: center;
  font-family: Poppins;
}

.brand__img {
  height: 48px;
}

.integration__brand--text {
  color: var(--primary);
  margin-left: 12px;
  font-weight: 600;
}

.integration__brand--google {
  font-size: 3.1rem;
  font-weight: 500;
  margin-left: -12px;
}

.integration__brand--slack {
  font-size: 3.2rem;
}

.integration__brand--agworld {
  font-size: 3.2rem;
  font-weight: 400;
}

.integration__brand--riotinto {
  font-family: "Sonsie One";
  font-size: 2.3rem;
  font-weight: 400;
}

.integration__brand--heroku {
  font-size: 1.9rem;
  letter-spacing: 1.995px;
}

/* Service */
.service {
  margin-top: 56px;
  padding: 50px 0;
}

.service__row {
  display: flex;
  justify-content: space-between;
}

.service__heading {
  width: 50%;
  margin-top: 12px;
}

.service-action {
  display: flex;
  align-items: end;
  margin-bottom: 12px;
  margin-right: 74px;
}

.service-action__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: #152427;
  transition: 0.4s;
}

.service-action__btn + .service-action__btn {
  transform: rotate(180deg);
  margin-left: 17px;
}

.service-action__btn:hover {
  background: var(--primary);
  color: #fff;
}

.service-card {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  /* overflow: hidden; */
}

.service-card__content {
  transition: 0.4s;
}

.service-card__item {
  width: 370px;
  height: 100%;
  border-radius: 20px;
  transition: 0.4s;
  background: #fff;
  padding-bottom: 20px;
}

.service-card__img-wrapper {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 370px;
  height: 318px;
}

.service-card__item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-card__item:hover .service-card__content {
  padding-left: 18px;
}

.service-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  transition: transform 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.service-card__item:hover .service-card__img {
  transform: scale(1.2);
}

.service-card__heading {
  margin-top: 24px;
  font-size: 2.2rem;
}

.service-card__desc {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.72;
  color: var(--text-color-light);
  max-width: 268px;
}

/* About */
.about {
  margin-top: 56px;
  padding: 50px 0;
}

.about__inner {
  display: flex;
}

.about__media {
  position: relative;
  display: flex;
  justify-content: start;
  min-width: 50%;
  padding-right: 64px;
}

.about__media::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}

.about__wrapper {
  z-index: 1;
  --width: 284px;
  width: var(--width);
  height: 480px;
}

.about__wrapper:first-child {
  margin-top: 90px;
  margin-right: 21px;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(var(--width) / 2);
}

.status {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 55px;
  z-index: 3;
  width: 143px;
  min-height: 144px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
  border-radius: 8px;
  padding: 20px 22px 12px 22px;
  flex-shrink: 0;
  font-size: 10px;
}

.status__heading {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.status__desc {
  font-size: 10px;
  margin-top: 6px;
}

.status__loading {
  position: relative;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
  /* tam */
  margin: 26px 0;
}

.status__loading::before {
  content: "40%";
  position: absolute;
  top: -16px;
  left: 0;
}

.status__loading::after {
  content: "Loading...";
  position: absolute;
  top: 8px;
  right: 0;
}

.status__loading::before,
.status__loading::after,
.members__text {
  color: var(--text-color-bold);
  font-weight: 500;
  font-size: 10px;
}

.status__progress {
  width: 40%; 
  height: 100%;
  background: #83A17D; 
  border-radius: 10px;
}

.status__members {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members__text {
  position: relative;
}

.members__text::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  width: 5px;
  height: 5px;
  background: var(--primary);
  border: 3px solid #eaeaea;
  border-radius: 50%;
  /* opacity: 0.4; */
}

.members__img {
  margin-left: -6px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about__heading {
  margin-top: 20px;
}

.about__desc {
  /* margin-top: 20px; */
}

.percent__desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 36px 0 20px 0;
  border-bottom: 1px solid var(--primary);
}
.percent__number {
  margin-right: 24px;
}

/* --------------------------------------- */
/* Footer */
.footer {
  margin-top: 52px;
  background: var(--primary);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 72px 0 45px 0;
}

.footer__newsletter {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 500;
}

.footer-form {
  margin-top: 25px;
}

.footer-form__input {
  width: 325px;
  height: 25px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 2.2rem;
  background: transparent;
}

.footer-form__submit {
  color: #c4c4c4;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.8s;
}

.submit-icon {
  margin-top: 10px;
  width: 26px;
  height: 16px;
}

.footer__line {
  display: block;
  width: 95%;
  margin-top: 32px;
  border: 1px solid #6a8383;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 47px;
}

.footer__social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #265252;
  transition: 0.25s;
}

.footer__social-btn:hover {
  color: #fcfcfc;
  border: none;
  background: #a75325;
}

.footer__inner {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
}

.footer__title {
  color: #fff;
  padding-bottom: 6px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.footer__link {
  color: #6a8383;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2;
}

.footer__link:hover {
  text-decoration: underline;
}
