* {
  box-sizing: border-box;
}

:root {
  --primary: #143c3c;
  --secondary: #6a8383;
  --bg-color: #e2eddf;
  --text-color: #152427;
  --text-color-light: #7d8188;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1140px;
  min-width: calc(100% - 48px);
  margin: 0 auto;
}
